RABBITMQ_USER=fcg
RABBITMQ_PASSWORD=fcg123

SQLSERVER_USER=sa
SQLSERVER_SA_PASSWORD=Fcg@12345
SQLSERVER_PID=Developer

USERS_DB_NAME=usersdb
CATALOG_DB_NAME=catalogdb
PAYMENTS_DB_NAME=paymentsdb
NOTIFICATIONS_DB_NAME=notificationsdb

JWT_ISSUER=fcg-users-api
JWT_AUDIENCE=fcg-client
JWT_KEY=change-this-local-development-key-with-many-characters
